PORT=4000
MONGODB_URI=your_mongodb_connection_string
mongodb+srv://grimoireUser:sr4vzarssG8xWGgo@cluster0.pmsojem.mongodb.net/monvieuxgrimoire?retryWrites=true&w=majority
JWT_SECRET=super_secret_token_12345